In [6]:
import pandas as pd
import numpy as np
import math

In [7]:
air = pd.read_csv("C:/Users/Administrator/Downloads/ml/air.csv")
air.columns

Index(['Unnamed: 0', 'Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [8]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Unnamed: 0    153 non-null int64
Ozone         116 non-null float64
Solar.R       146 non-null float64
Wind          153 non-null float64
Temp          153 non-null int64
Month         153 non-null int64
Day           153 non-null int64
dtypes: float64(3), int64(4)
memory usage: 8.4 KB

In [9]:
#1.	Fetch the observations for 9 day of June
air[(air.Month == 6) & (air.Day == 9)]

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [10]:
#2.	Find Average temperature for the month of June
air[air.Month == 6].mean()

Unnamed: 0     46.500000
Ozone          29.444444
Solar.R       190.166667
Wind           10.266667
Temp           79.100000
Month           6.000000
Day            15.500000
dtype: float64

In [11]:
#3.	To which day of June has the least temperature
air[air.Month == 6].min()['Temp']

65.0

In [12]:
#4.	Find Maximum Ozone value for the month of May
air[air.Month == 5].max()['Ozone']

115.0

In [13]:
#5.	Find the count of the missing values in the ozone column of the data set
len(air.Ozone[np.isnan(air.Ozone)])

37

In [14]:
#6.	Find out What is the mean of the Ozone column in this dataset
round(air.Ozone.mean(),2)

42.13

In [15]:
#7.	Find out which month has the highest temperature
air[air.Temp == air.Temp.max()]['Month']

119    8
Name: Month, dtype: int64

In [16]:
#8.	Find out the wind value when the Ozone becomes maximum
air[air.Ozone == air.Ozone.max()]['Wind']

116    3.4
Name: Wind, dtype: float64

In [17]:
#9.	Find out the months for which the airquality observations have been carried out
air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [18]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.
air[air.Day == 1][['Month','Ozone','Temp']]

     Month  Ozone  Temp
0        5   41.0    67
31       6    NaN    78
61       7  135.0    84
92       8   39.0    81
123      9   96.0    91

In [19]:
#11.	Which day of which month corresponds to the least Ozone Value.
air[air.Ozone == air.Ozone.min()][['Month','Day']]

    Month  Day
20      5   21

In [20]:
#12.	Convert the temperature for all the observations to Centigrade scale
def celsius(T):
     return (round(float(5.0)/9.0)*(T-32,2))
celsius(air.Temp)

(0      35
 1      40
 2      42
 3      30
 4      24
 5      34
 6      33
 7      27
 8      29
 9      37
 10     42
 11     37
 12     34
 13     36
 14     26
 15     32
 16     34
 17     25
 18     36
 19     30
 20     27
 21     41
 22     29
 23     29
 24     25
 25     26
 26     25
 27     35
 28     49
 29     47
        ..
 123    59
 124    60
 125    61
 126    61
 127    55
 128    52
 129    48
 130    46
 131    43
 132    41
 133    49
 134    44
 135    45
 136    39
 137    39
 138    46
 139    35
 140    44
 141    36
 142    50
 143    32
 144    39
 145    49
 146    37
 147    31
 148    38
 149    45
 150    43
 151    44
 152    36
 Name: Temp, Length: 153, dtype: int64, 2)